<h1>メッセージ</h1>

<% @messages.each do |message| %>
  Name:<%= message.name %>
  Comment:<%= message.body %>
  <br>
<% end %>
  
<%= form_for(Message.new) do |f| %>
  Name:
  <%= f.text_field :name %>
  Comment:
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>  
