<div class="container">
  <div id="board_title">MESSAGE BOARD</div>
  <br />
  <hr />
      
  <div class="panel panel-default">
    <div class="panel-heading">
      <span id="panel_title">MESSAGE LIST</span>
    </div>
    <div class="panel-body">
      <% @messages.each do |message| %>
        <span class="label label-info label_size"><%= message.name %></span>
        <%= message.body %>
         (<%= link_to "edit" , edit_message_path(message) %>
         <%= link_to "destroy" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
        )
         <%= message.age %>
        <br />
      <% end %>
    </div>
  </div>
  <hr />
</div>
<br />
<br />

<% #部分テンプレート読み込み %>
<%= render 'form' %>
